


{{- $taxonomy_args := .Get "taxonomy" -}}
{{ $taxonomy_names := slice }}
{{ if $taxonomy_args }}
  {{- $taxonomy_names = split $taxonomy_args "," -}}
{{ end }}

{{- $section_args := .Get "section" -}}
{{ $section_names := slice }}
{{ if $section_args }}
  {{- $section_names = split $section_args "," -}}
{{ end }}

{{ $max := .Get "max" }}
{{ if not $max }}
  {{ $max = 6 }}
{{ else }}
  {{ $max = add $max 1 }}
{{ end }}

{{ define "links" }}
  {{ $taxonomy := .taxonomy }}
  {{ $max := .max }}
  <p>{{ $taxonomy.Description }}</p>
  <ul class="articles summary-links">
    {{ $counter := 0 }}
    {{ range $taxonomy.Pages }}
      {{ $counter = add $counter 1 }}
      {{ $page := . }}
      {{ $icon := $page.Params.icon }}
      {{ if lt $counter $max }}
        <li class="article-summary-item">
          <div class="article-summary-container">
            {{ with .Resources }}
              <a href="{{ $page.Permalink }}">
                {{ range .ByType "image" }}
                  {{ partial "gallery/thumb.html" (dict "context" .  "page" $page ) }}
                {{ end }}
              </a>
            {{ end }}
            {{ if $icon }}
              <div class="icon">
                <i class="fa fa-{{ $icon }}"></i>
              </div>
            {{ end }}

            {{ partial "core/title.html" (dict "context" . ) }}
            {{/*  <a href="{{ .Permalink }}">
              <div>
                <h4 style="margin-bottom: 0;">
                  <div class="text"><div>{{ .Title }}</div></div>
                </h4>
              </div>
            </a>  */}}
            <div class="description">
              <p>{{ .Description }}</p>
            </div>
          </div>
        </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}


<div class="links">
  {{ range (where .Site.Pages.ByTitle "Kind" "section" ) }}
    {{ $section := . }}
    {{ range $section_names }}
      {{ $section_name := . }}
      {{ if in (urlize $section.Name) $section_name }}
        {{ template "links" (dict "entry" . "taxonomy" $section "max" $max) }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ range (where .Site.Pages.ByTitle "Kind" "taxonomy" ) }}
    {{ $taxonomy := . }}
    {{ range $taxonomy_names }}
      {{ $taxonomy_name := . }}
      {{ if in (urlize $taxonomy.Name) $taxonomy_name }}
        {{ template "links" (dict "entry" . "taxonomy" $taxonomy "max" $max) }}
      {{ end }}
    {{ end }}
  {{ end }}

</div>
