/* Weaver Platform - Globals */

$calltoaction: #000;
$alternative: #000;
$subtle: #000;
$footer: #000;
$highlight: pink;
$calltoaction: #000;

// $headerfont: 'Lato', sans-serif;
// $headerfont: 'Poppins', sans-serif;
$headerfont: 'Open Sans', sans-serif;
$bodyfont: 'EB Garamond', serif;

$gutter: 30px;