<!-- <h2>DEBUG</h2>
<p>{{ . }}</p>

<h4>Table of Contents</h4>
<p>{{ .TableOfContents }}</p>

<h4>ExpiryDate</h4>
<p>{{ .ExpiryDate }}</p>

<h4>Fragments</h4>
<p>{{ .Fragments }}</p>

<h4>File</h4>
<p>{{ .File }}</p>

<h4>Tags</h4>
{{ with .GetTerms "tags" }}
  <p>Tags</p>
  <ul>
    {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
{{ end }}


<h4>Sitemap</h4>
<p>{{ .Sitemap }}</p>

<h4>Summary</h4>
<p>{{ .Summary }}</p>

<h4>Kind</h4>
<p>{{ .Kind }}</p>
<p>{{ .Type }}</p>

<h4>Layout</h4>
<p>{{ .Layout }}</p>

<h4>Keywords</h4>
<p>{{ .Keywords }}</p>

<h4>Resources</h4>
<p>{{ .Resources }}</p>

<h4>Section</h4>
<p>{{ .Section }}</p>

<h4>Sections</h4>
<p>{{ .Sections }}</p>   -->
